In [47]:
import pandas as pd
import numpy as np

In [48]:
#read CSV files
data = pd.read_csv('/Users/gur/Downloads/netflix_originals.csv')
#get information about the data that describes everything. 
data.info() # this method is better in my opinion because it gives more info
data.dtypes #perfect to get the types of data in the actual rows.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1517 entries, 0 to 1516
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   titles       1517 non-null   object
 1   years        1517 non-null   int64
 2   genres       1516 non-null   object
 3   imdb         1512 non-null   float64
 4   runtime      1276 non-null   object
 5   description  1517 non-null   object
 6   stars        1489 non-null   object
 7   votes        1516 non-null   object
 8   type         1517 non-null   object
 9   original     1517 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 118.6+ KB

titles          object
years            int64
genres          object
imdb           float64
runtime         object
description     object
stars           object
votes           object
type            object
original        object
dtype: object

In [49]:
#shape of data frame
data.shape
# the output is (r,c) where r is the number of rows and c is the number of columns

(1517, 10)

In [50]:
#identifying the missing data in our dataset. 
    #NUMBER of missing rows.
data.isnull()
data.isnull().sum().sort_values(ascending=False)
#sum of all null values be coloumn. 
#sort_values gives the response increasing to decreasing.
#false is non null where true is Nan

runtime        241
stars           28
imdb             5
genres           1
votes            1
titles           0
years            0
description      0
type             0
original         0
dtype: int64

In [51]:
print(data.columns)
#number of rows missing in each coloumns 
data['runtime'].isnull().mean()
#the above line of code gives us the magnitude of null values as a perntage 
for i in data.columns:
    percentage = data[i].isnull().mean()
    print(i + " "+ str(round(percentage*100,2)))
    print(i + " "+ str(percentage))
#in the above the code block provide me with percetage of null values for each column

Index(['titles', 'years', 'genres', 'imdb', 'runtime', 'description', 'stars',
       'votes', 'type', 'original'],
      dtype='object')
titles 0.0
titles 0.0
years 0.0
years 0.0
genres 0.07
genres 0.0006591957811470006
imdb 0.33
imdb 0.0032959789057350032
runtime 15.89
runtime 0.15886618325642715
description 0.0
description 0.0
stars 1.85
stars 0.01845748187211602
votes 0.07
votes 0.0006591957811470006
type 0.0
type 0.0
original 0.0
original 0.0

DEALING WITH MISSING DATA

In [52]:
#remove a column, row with .drop, .dropna, or .isnull
#we will be dropping the column with the mostnull values. In the above runtime is the column with the most null cells. 
print(data.head(6))
#drop a column, We can drop the column but we would loose some pertanant data. 
    #data.drop('runtime', axis =1) Drops the entire column 

#drop row - Prefered method to drop data. 
#no_runtime = data[data['runtime'].isnull()].index #this stores the null values in the index, 
#data.drop(no_runtime, axis = 0) #axis = 1 is columns and 0 is for rows. You can add inplace = True to save the changes to the Original
    #data Set 


#~ + .isnull()
#the '~' gives the non null values. (Read more on the syntax) 
#data[~(data['runtime'].isnull())].

#dropna() - Simplest method
data.dropna(subset=['runtime'])
    #this method looks through the column 'runtime' and drops the values that are "null" and prints the updated DataFRAME.

                  titles  years                 genres  imdb runtime  \
0  Zumbo's Just Desserts   2016             Reality-TV   6.9  52 min
1              Zona Rosa   2019                 Comedy   6.0     NaN
2        Young Wallander   2020  Crime, Drama, Mystery   6.7     NaN
3           You vs. Wild   2019  Adventure, Reality-TV   6.7  20 min
4                    You   2018  Crime, Drama, Romance   7.8  45 min
5   YooHoo to the Rescue   2019                 Family   6.9     NaN

                                         description  \
0  Amateur Australian chefs compete to impress pa...
1                                         Add a Plot
2  Follow recently graduated police officer Kurt ...
3  In this interactive series, you'll make key de...
4  A dangerously charming, intensely obsessive yo...
5  In a series of magical missions, quick-witted ...

                                               stars    votes     type  \
0           Gigi Falanga, Rachel Khoo, Adriano Zumbo    1,779  TV Show
1  Ray Contreras, Pablo Morán, Manu Nna, Ana Juli...       33  TV Show
2  Adam Pålsson, Leanne Best, Richard Dillane, El...    5,419  TV Show
3                                        Bear Grylls    1,977  TV Show
4  Penn Badgley, Victoria Pedretti, Ambyr Childer...  134,932  TV Show
5  Ryan Bartley, Kira Buckland, Lucien Dodge, Kyl...       37  TV Show

  original
0  Netflix
1  Netflix
2  Netflix
3  Netflix
4  Netflix
5  Netflix

,titles,years,genres,imdb,runtime,description,stars,votes,type,original
0,Zumbo's Just Desserts,2016,Reality-TV,6.9,52 min,Amateur Australian chefs compete to impress pa...,"Gigi Falanga, Rachel Khoo, Adriano Zumbo","1,779",TV Show,Netflix
3,You vs. Wild,2019,"Adventure, Reality-TV",6.7,20 min,"In this interactive series, you'll make key de...",Bear Grylls,"1,977",TV Show,Netflix
4,You,2018,"Crime, Drama, Romance",7.8,45 min,"A dangerously charming, intensely obsessive yo...","Penn Badgley, Victoria Pedretti, Ambyr Childer...","134,932",TV Show,Netflix
6,Yankee,2019,Drama,6.0,40 min,"On the run from the police, an Arizona man cro...","Pablo Lyle, Ana Layevska, Pamela Almanza, Seba...",458,TV Show,Netflix
7,Wu Assassins,2019,"Action, Crime, Drama",6.4,44 min,A warrior chosen as the latest and last Wu Ass...,"Iko Uwais, Byron Mann, Li Jun Li, Lawrence Kao","9,336",TV Show,Netflix
...,...,...,...,...,...,...,...,...,...,...
1512,Ralphie May: Unruly,2015,Comedy,4.7,83 min,"Filmed in front of a raucous crowd, comedian R...","John Asher, Ralphie May",357,Movie,Netflix
1513,John Hodgman: Ragnarok,2013,"Comedy, Music",6.2,68 min,The deranged millionaire John Hodgman plays hi...,"Lance Bangs, John Hodgman, Scott Adsit, Cynthi...",292,Movie,Netflix
1514,Jimmy Carr: Funny Business,2016,Comedy,7.2,62 min,"A man, with an incredibly stupid laugh, tells ...","Sam Wrench, Jimmy Carr","3,445",Movie,Netflix
1515,Anthony Jeselnik: Thoughts and Prayers,2015,Comedy,7.8,59 min,Stand up comedian and former Late Night with J...,"Adam Dubin, Anthony Jeselnik, Peggy","4,300",Movie,Netflix
1516,13th: A Conversation with Oprah Winfrey & Ava ...,2017,"Documentary, Short",7.0,37 min,Oprah Winfrey sits down with other to discuss ...,"Oprah Winfrey, Ava DuVernay",174,Movie,Netflix

DEALING WITH MISSING VALUES.

In [54]:
#use fill.na to replace NaN by the mean, median (numeric data) , or mode 
    #mode = ''.join(data['type'].mode())  #this is an object being converted to a STR. 
    #type(mode)
    #data_new=data['type'].fillna(mode, inplace=False) #false works but true doesn't 
    #print(data_new)
    #print(data)

#data.isnull().mean()
    #data['imdb'].fillna('0') - FillNA requires str. so above needs to converted to a str. Use the '.join' method 

#replace it by an arbitrary numberwith .fillna
ammended_data = data['runtime'].fillna('0',inplace =False)
print(ammended_data)
    #Setting the inplace to false creates another database onto which the changes are recorded and held where as setting as "true" ammends
    #the OG data which can sometimes cause in the compiler. I would like to stick to the former as it is safer in data handling. 

#backward,forward 
#the correct syntax is "bfill" or "ffill"
#use of this dependent on the nature of the data. 
#data['titles'].fillna(method='bfill')

0       52 min
1            0
2            0
3       20 min
4       45 min
         ...
1512    83 min
1513    68 min
1514    62 min
1515    59 min
1516    37 min
Name: runtime, Length: 1517, dtype: object

Extracting DATA

In [59]:
#using the split() and extract() method.
    #this method removes the data points we need, we can further refine by dropping the "min" to get only the str. 

data_movies = data[data['type']=="Movie"]
data_movies['runtime'].str.split(expand = True)[0].astype(int) #splits the data when there is a blank space. Then divide it into data with columns.

ValueError: cannot convert float NaN to integer